<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.loginactivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".Result" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Staffppl" />
        <activity android:name=".show" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsersListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".adapters.UsersRecyclerAdapter" />
        <activity android:name=".Staff_option" />
        <activity android:name=".DeleteUser" />
        <activity android:name=".Mobile_computing" />
        <activity android:name=".Net_modelling" />
        <activity android:name=".Net_manage" />
        <activity android:name=".Reference_source"></activity>
    </application>

</manifest>